html {
    height: 100%;
    font-family: "Copperplate", sans-serif;
    color: #7a7a7a;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#grid {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    height: 60dvh;
    aspect-ratio: 1/1;
    justify-content: stretch;
    align-items: stretch;
    padding: 10px;
    border-radius: 4px;
}

#row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
}

.square {
    width: 1px;
    aspect-ratio: 1/1;
    margin: 0px;
    flex: 1;
}

.square#white {
    background-color: white;
}

.square#black {
    background-color: black;
}

#btns {
    background-color: #e5e5e5;
    width: 60dvh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
}

button {
    font-family: "Copperplate", sans-serif;
    font-size: 24px;
    border-style: none;
    border-radius: 4px;
    color: #7a7a7a;
    background-color: white;
    height: 60px;
    flex: 1;
}

button:hover {
    background-color: #f2f2f2;
}